.chart {
    width: 600px;
    height: 400px;
    display: inline-block;
}

#train-positive {
    background-color: red;
}

#train-negative {
    background-color: blue;
}

#test {
    background-color: green;
}

h2 {
    font-family: "Microsoft YaHei" ! important;
}