{% extends "chart_base.html" %}
{% block script-head %}
<script type="text/javascript">
window.onload=function(){
  var theSelect=document.getElementsByName("category_id");
  var theForm=document.getElementsByName("category_get");
  theSelect[0].onchange=function(){
     theForm[0].submit()
  }
}
</script>
{% end %}
{% block title %}
宏原特征分布图
{% end %}
{% block css-link %}
<link rel="stylesheet" type="text/css" href="{{ static_url ('css/feature_vector_distribution.css') }}">
{% end %}
{% block body %}
<body>
    <div id="filter">
        <form action="http://192.168.1.139:8280/chart/fvd" method="GET" name="category_get">
            <select name="category_id">
                <option>品类选择</option>
                {% for c in category %}<option value="{{ c[0] }}">{{ c[1] }}</option>
                {% end for %}
            </select>

        </form>
    </div>
    <div class="chart">
        <h2>训练正例数据特征值分布</h2>
        <div id="train-positive" class="chart-picture"></div>
    </div>
    <div class="chart">
        <h2>训练负例数据特征值分布</h2>
        <div id="train-negative" class="chart-picture"></div>
    </div>
    <div class="chart">
        <h2>预测数据特征值分布</h2>
        <div id="test" class="chart-picture"></div>
    </div>
<script type="text/javascript">
    var chart = echarts.init(document.getElementById("train-positive"));
    var option = new Object();
    var legend_data = [];
    {% for i in train_x_positive_data[u"legend_data"] %}
    legend_data.push("{{ i.encode("utf-8") }}"); {% end %}
    option.legend = {"data": legend_data, "selectedMode": "single"};
    option.xAxis = {"type": "value", "scale": "true"};
    option.yAxis = {"type": "value", "scale": "true"};
    var series_data = [];
    {% for i in train_x_positive_data[u"legend_data"] %}
    series_data.push(
    {
            "name": "{{ i }}",
            "type": "scatter",
            "data": {{ train_x_positive_data[u"series_data"][i] }}
    })
    {% end for %}
    option.series = series_data;
    chart.setOption(option);
</script>
<script>
    var chart = echarts.init(document.getElementById("train-negative"));
    var option = new Object();
    var legend_data = [];
    {% for i in train_x_negative_data[u"legend_data"] %}
    legend_data.push("{{ i.encode("utf-8") }}"); {% end %}
    option.legend = {"data": legend_data, "selectedMode": "single"};
    option.xAxis = {"type": "value", "scale": "true"};
    option.yAxis = {"type": "value", "scale": "true"};
    var series_data = [];
    {% for i in train_x_negative_data[u"legend_data"] %}
    series_data.push(
    {
            "name": "{{ i }}",
            "type": "scatter",
            "data": {{ train_x_negative_data[u"series_data"][i] }}
    })
    {% end for %}
    option.series = series_data;
    chart.setOption(option);
</script>
<script>
    var chart = echarts.init(document.getElementById("test"));
    var option = new Object();
    var legend_data = [];
    {% for i in test_x_data[u"legend_data"] %}
    legend_data.push("{{ i.encode("utf-8") }}"); {% end %}
    option.legend = {"data": legend_data, "selectedMode": "single"};
    option.xAxis = {"type": "value", "scale": "true"};
    option.yAxis = {"type": "value", "scale": "true"};
    var series_data = [];
    {% for i in test_x_data[u"legend_data"] %}
    series_data.push(
    {
            "name": "{{ i }}",
            "type": "scatter",
            "data": {{ test_x_data[u"series_data"][i] }}
    })
    {% end for %}
    option.series = series_data;
    chart.setOption(option);
</script>
</body>
{% end %}