{% extends "chart_base.html" %}
{% block title %}
MarcPoint 特征分布图
{% end %}
{% block css-link %}
<link rel="stylesheet" type="text/css" href="{{ static_url ('css/feature_vector_distribution.css') }}">
{% end %}
{% block body %}
<body>
    <div id="train-positive" class="chart"></div>
    <div id="train-negative" class="chart"></div>
    <div id="test" class="chart"></div>
<script type="text/javascript">
    var train_positive_chart = echarts.init(document.getElementById("train-positive"));
    var train_negative_chart = echarts.init(document.getElementById("train-negative"));
    var test_chart = echarts.init(document.getElementById("test"));

    var train_positive_option = {
        title: {
            text: "训练正例数据特征值分布"
        },
        tooltip : {
            trigger: "axis",
            showDelay : 0,
            axisPointer:{
                show: true,
                type : "cross",
                lineStyle: {
                    type : "dashed",
                    width : 1
                }
            },
            zlevel: 1
        },
        legend: {
            data:["衣长", "面料"]
        },
        xAxis: {
            type: "value",
            scale: true
        },
        yAxis: {
            type: "value",
            scale: true
        },
        series: [
            {
                name: "衣长",
                type: "scatter",
                large: true,
                symbolSize: 9,
                data:[[-2, 5], [-1, 20], [0, 36], [0.33, 10], [0.5, 15], [0.75, 10], [1, 5]]
            },
            {
                name: "面料",
                type: "scatter",
                large: true,
                symbolSize: 8,
                data:[[-2, 35], [-1, 10], [0, 5], [0.33, 15], [0.5, 12], [0.75, 7], [1, 3]]
            }
        ]
    };

    var train_negative_option = {
        title: {
            text: "训练负例数据特征值分布"
        },
        tooltip : {
            trigger: 'axis',
            showDelay : 0,
            axisPointer:{
                show: true,
                type : 'cross',
                lineStyle: {
                    type : 'dashed',
                    width : 1
                }
            },
            zlevel: 1
        },
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'pie',
            radius: '55%',
            data:[
                {value: 5, name: '衬衫'},
                {value: 10, name: '裤子'},
                {value: 10, name: '高跟鞋'},
                {value: 20, name: '袜子'}
            ]
        }]
    };

    var test_option = {
        title: {
            text: "预测数据特征值分布"
        },
        tooltip : {
            trigger: 'axis',
            showDelay : 0,
            axisPointer:{
                show: true,
                type : 'cross',
                lineStyle: {
                    type : 'dashed',
                    width : 1
                }
            },
            zlevel: 1
        },
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'pie',
            radius: '55%',
            data:[
                {value: 5, name: '衬衫'},
                {value: 20, name: '羊毛衫'},
                {value: 36, name: '雪纺衫'},
                {value: 10, name: '裤子'},
            ]
        }]
    };

    train_positive_chart.setOption(train_positive_option);
    train_negative_chart.setOption(train_negative_option);
    test_chart.setOption(test_option);
</script>
</body>
{% end %}