<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>宏原研发工具站</title>
        {% end %}
        {% block css-link %}
        <link href="{{ static_url('css/index.css') }}"rel="stylesheet" type="text/css">
        {% end %}
        {% block js-link %}
        {% end %}
    </head>
    <body>

        <div class="header">
          <div class="container">
            <ul class="nav">
              <li><a href="/">首页</a></li>
              <li><a href="/demo/form">竞品计算</a></li>
              <li><a href="/chart/fvd">特征分布</a></li>
              <li><a href="/tag/form">标签检验</a></li>
              <li><a href="/retag/form">重打标签</a></li>
              <!--<li><a href="/2">页面复用测试</a></li>-->
            </ul>
          </div>
        </div>

        {% block main %}
        <div class="jumbotron">
          <div class="container">
            <div class="main">
            </div>
          </div>
        </div>
        {% end %}

        <div class="footer">
          <div class="container">
            <p>&#169; MarcPoint 2016</p>
          </div>
        </div>

    </body>
</html>
