{% extends "index.html" %}
{% block title %}
<title>标签检验</title>
{% end %}
{% block main %}
<div class="main-content">
    <h2>标签检验</h2>
    <p> ItemID: {{ item_id }}</p>
    <p> ItemAttrDesc: {{ item[0] }}</p>
    <p> TaggedItemAttr: {{ item[1] }}</p>
    <p> TaggedBrandName: {{ item[2] }}</p>
    <p> TaggedColor: {{ item[3] }}</p>
    <p> TaggedMaterial: {{ item[4] }}</p>
    <p> CategoryID: {{ item[5] }}</p>
    <p> CategoryName: {{ item[6] }}</p>
    <h2>维度列表</h2>
    <ul>
        {% for i in displayname_list %}
            <li>{{ i }}</li>
        {% end for %}
    </ul>
</div>
{% end %}
